@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');


.post {
   border: 3px solid black;
    width: 50%;
    margin: auto;
    height:auto;
    background-color: white;

}
.header{
    background-color: white;
    display:flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.fah{
    margin: 5px;
    font-size: 30px;
}
.title {
    margin:5px;
    font-size: 30px;
}
.point{
    margin-left: auto !important;
    padding-top:1,5rem;
    float:right !important;
    font-size: 30px;
}
.metal{
    width: 100%;
    margin: 0 !important;
}
.bot{
    background-color: white;
    margin-top:5px;
    width: 100%;
}
.inst{
    background-color: white;
    width: auto;
    margin:5px;
    display: flex;
}
.left{
    float:left;
    margin:5px;
    font-size: 30px;
}
.right{
    float:right;
    margin:5px;
    margin-left:auto;
    font-size: 30px;
}
.bloh{
    font-family: 'Balsamiq Sans', cursive;
    margin: 0px 10px 10px 10px;
}
.blah{
    margin: 0px 10px 0px 10px;
}